/* color palette from <https://github.com/vuejs/theme> */
:root {
  --cafe-black: #0a0501;

  --cafe-soft-parchment: #f6e9cd;
  --cafe-soft-parchment-dark: #efd9a9;
  --cafe-espresso-brown: #361a07;
  --cafe-coffee-brown: #120902;
  --cafe-milky-white: #fff9f3;
  --cafe-accent-color: #2a5c59;
}

:root {
  --color-background: var(--cafe-soft-parchment);
  --color-background-darken: var(--cafe-soft-parchment-dark);

  --color-border: var(--cafe-black);
  --color-accent-border: var(--cafe-accent-color);

  --color-text-dark: var(--cafe-espresso-brown);
  --color-text-dark-2: var(--cafe-coffee-brown);
  --color-text-light: var(--cafe-milky-white);

  --border-radius: 3px;

  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* TODO: find a better free font */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--cafe-text-dark-2);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: var(--gap-large);
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--cafe-text-dark);
  margin-bottom: var(--gap-medium);
}
p {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--cafe-text-dark);
  margin-bottom: var(--gap-small);
}
